<%# <html> %>
<%- include('00a_header.ejs') %>
    <!-- <img class = "img-fluid" src = "/images/home.jpg"> -->
    <div class = "chapter container ">
      <div class = "chapter-description row">
        <h2>Common components</h2>
        <p>All commonly used components and their stylings can be found here.</p>
      </div>



      <div class = "example row">
        <div>
          <h3><b>Example 01:</b> Buttons</h3>
          <p>Buttons have a small right and bottom margin, if multiple ones are placed next to each other.</p>
        </div>

        <div class = "col-sm-4">
          <button class = "button-A button-small">Small</button>
          <button class = "button-A button-medium">Medium</button>
        </div>
        <div class = "col-sm-8">
          <button class = "button-A button-wide">Wide</button>
        </div>
      </div>

      <div class = "example row">
        <div>
          <h3><b>Example 02:</b> Forms</h3>
          <p>Form-A class stands for <code>width: 100%</code> input fields.</p> 
        </div>

        <div class = "col-sm-12">
          <form name = "form-name" class = "form-A">
            <label for = "input-1">Input 1</label>
            <input name = "input-1" id = "input-1" type = "text" placeholder = "Empty text-input">
            <label for = "input-2">Input 2</label>
            <input name = "input-2" id = "input-2" type = "text" value = "Filled in text-input">
            <label name = "textarea-1" for = "textarea-1">Textarea 1</label>
            <textarea id = "textarea-1" placeholder = "Lots of texts here"></textarea>
            <button type = "button" class = "button-A button-medium">Submit</button>
          </form>
        </div>
      </div>


      <div class = "example row">
        <div>
          <h3><b>Example 03:</b> Tables</h3>
          <p>Styling for tables.</p> 
        </div>

        <div class = "col-sm-12">
          <div class = "table-A-wrapper">
            <table class = "table-A">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Color</th>
                  <th>Texture</th>
                  <th>Hardness</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cedar</td>
                  <td>Softwood</td>
                  <td>Dark/Pinkish</td>
                  <td>Straight</td>
                  <td>900</td>
                </tr>
                <tr>
                  <td>Cedar</td>
                  <td>Softwood</td>
                  <td>Dark/Pinkish</td>
                  <td>Straight</td>
                  <td>900</td>
                </tr>
                <tr>
                  <td>Cedar</td>
                  <td>Softwood</td>
                  <td>Dark/Pinkish</td>
                  <td>Straight</td>
                  <td>900</td>
                </tr>
                <tr>
                  <td>Cedar</td>
                  <td>Softwood</td>
                  <td>Dark/Pinkish</td>
                  <td>Straight</td>
                  <td>900</td>
                </tr>
                <tr>
                  <td>Cedar</td>
                  <td>Softwood</td>
                  <td>Dark/Pinkish</td>
                  <td>Straight</td>
                  <td>900</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

<%- include('00b_footer.ejs') %>
<%# </html> %>